body {
    margin: 0;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
}

.container {
    width: 350px;
    margin: 100px auto;
    background-color: #161b22;
    padding: 30px;
    border: 1px solid #30363d;
    border-style: solid;
    text-align: center;
    box-shadow: 0px 0px 15px #000000;
}

.title {
    margin-bottom: 20px;
    color: #58a6ff;
    font-size: 28px;
    text-shadow: 1px 1px 3px #000000;
    letter-spacing: 1px;
}

.form {
    text-align: left;
}

.label {
    display: block;
    margin-top: 15px;
    color: #8b949e;
    font-size: 14px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    background-color: #0d1117;
    border: 1px solid #30363d;
    color: #f0f6fc;
}



.btn {
    display: block;
    width: 100%;
    margin: 25px auto 10px;
    padding: 12px;
    background-color: #4682b4;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #58a6ff;
}

.text {
    margin-top: 15px;
    font-size: 14px;
    color: #8b949e;
}

.link {
    color: #58a6ff;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}